body{
  background-color: rgb(1, 46, 46);
}
.App{
  background-color: royalblue;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}
#to-do-form input{
  background-color: rgb(196, 215, 245);
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 10px;
  color:rgb(0, 4, 8);
}
#to-do-form input::placeholder{
  color: rgb(3, 0, 0);
}
#to-do-form input:focus, #to-do-form button:focus{
  outline: none;
}
#to-do-form button{
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: rgb(31, 30, 30);
  color:azure;
  cursor: pointer;
  font-weight: bolder;
}